.flights-search-section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70vw;
    height: 25vh;
    background-color: #05164D;
    margin: 7rem auto 3rem;
}

.form{
    display: flex;
    justify-content: center;
    align-items: center;  
    width: 100%;
    max-width: 900px;
    box-sizing: border-box;
    padding: 2rem 3rem;
    margin: 0 auto;
}

.flights-list-title{
    color: #1c2b39;
    font-weight: 700;
    padding: 0.8rem;
    font-size: 2.3rem;
}

hr{
    margin: 0.3rem 0 1rem 0;
}

@media(max-width: 430px){

    .flights-search-section{
        width: 100%;
        height: auto;
        padding: 1.6rem 0;
    }

    .form{
        flex-direction: column;
        align-items: center;
    }
}

