.logo{
 width: 130px;
 height: 45px;
 border: 1px solid white;
}

.logo-heading{
    font-size: 2.7rem;
    font-family: 'Satisfy', cursive;
    text-align: center;
    color: white;
    line-height: 45px;
}

@media(max-width: 430px){

    .logo{
        margin-left: 1.5rem;
        width: 100px;
        height: 35px;
    }

    .logo-heading {
        padding: 0 1.7rem;
        line-height: 35px;
    }
}