.side-drawer {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    max-width: 70%;
    height: 100%;
    z-index: 200;
    background-color: #09112C;
    padding: 3rem 1.5rem;
    box-sizing: border-box;
    transition: transform .3s;
}

nav>:nth-child(1){
    margin: 0 auto;
    margin-bottom: 3rem;
}

.open{
    transform: translateX(0);
}

.close{
    transform: translateX(-100%);
}

@media(min-width: 600px){
    .side-drawer{
        display: none;
    }
}

